.CFUserTextEncoding
.DS_Store
.NERDTreeBookmarks
Desktop
Documents
Library
Movies
Music
Pictures
Public
.aws
.cache
.colima
.composer
.cups
Applications
Downloads
OrbStack
.my.cnf
.mysql_history
.zsh_history
.zsh_sessions
.ddev
.docker
.drush
.iterm2_shell_integration.zsh
.lesshst
.lima
.local
.macports
.node_repl_history
.npm
.oh-my-zsh
.orbstack
.php_history
.platformsh
.ppatch.conf
.psync.conf
.python_history
.ssh
.subversion
.upsun-cli
.viminfo
Creative Cloud Files
.gitconfig
.iterm2
composer-setup.php
