# This is Git's per-user configuration file.
[user]
	name = Fletch
	email = fletch@gatech.edu
# Please adapt and uncomment the following lines:
#	name = Fletch
#	email = fletch@gatech.edu
[pull]
	rebase = true
[format]
  pretty = format:%C(auto,yellow)%h%C(auto,magenta)% G? %C(auto,blue)%>(12,trunc)%ad %C(auto,green)%<(7,trunc)%aN%C(auto,reset)%s%C(auto,red)% gD% D
[safe]
	directory = /Volumes/DerWirt
	directory = /Volumes/DerWirt/plesk/licensing/html
	directory = /Volumes/DerWirt/plesk/president/html
	directory = /Users/fm56/Documents/police/html
[init]
	defaultBranch = main
[credential]
	helper = osxkeychain
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
